<div class="center">
  <button type="button" class="js-menu-trigger sliding-panel-button orange">
    Jump To Another Section
  </button>
</div>
<nav class="js-menu sliding-panel-content">
  <ul>
    <li><a href="javascript:void(0)"><strong>Profile</strong></a></li>
    <li><a class="non-heading" href="/users/biographical">Biographical</a></li>
    <li><a class="non-heading" href="/users/spouse">Spousal Information</a></li>
    <li><a class="non-heading" href="/users/other">Other</a></li>
    <li><a href="javascript:void(0)"></a></li>
    <li><a href="javascript:void(0)"><strong>Accounts</strong></a></li>
    <li><a class="non-heading" href="/networths/bank">Checking/Savings</a></li>
    <li><a class="non-heading" href="/networths/retirement">Retirement Accounts</a></li>
    <li><a class="non-heading" href="/networths/equities">Stocks & Bonds</a></li>
    <li><a class="non-heading" href="/networths/physical_assets">Real Estate/Auto</a></li>
    <li><a class="non-heading" href="/networths/other_assets">Other Assets</a></li>
    <li><a class="non-heading" href="/networths/physical_liabilities">Real Estate/Auto Loans</a></li>
    <li><a class="non-heading" href="/networths/installment_debt">Credit Card/Student Loans/Consumer Loans</a></li>
    <li><a class="non-heading" href="/networths/other_liabilities">Other Liabilities</a></li>
  </ul>
</nav>
<div class="js-menu-screen sliding-panel-fade-screen"></div>
