<div class="container">
  <div id="net-worth-chart">

  </div>
</div>
  <p>
    <%= @user.dob %><br />
    <%= @user.first_name %><br />
    <%= @user.last_name %><br />
    <%= @user.net_worth.checking_account %><br />
  </p>
