<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Trusted Financial Planning</h1>
			<p>It shouldn't have to be expensive to get top financial planning advice.<br />
        Trusted Financial Planning is an online solution to provide financial
        planning advice and tracking tools to understand where you stand and what
        path to take next!</p>
		</div>
		<% if !@current_user %>
    	<a href="<%= user_path :signup %>" class="wizard-begin-button">Get Started For Free Today</a>
		<% end %>
		<% if @current_user %>
		<div class="center">
		  <button type="button" class="js-menu-trigger sliding-panel-button orange">
		    Update Profile or Accounts
		  </button>
			</div>
			<nav class="js-menu sliding-panel-content">
			  <ul>
			    <li><a href="javascript:void(0)"><strong>Profile</strong></a></li>
			    <li><a class="non-heading" href="/user/biographical">Biographical</a></li>
			    <li><a class="non-heading" href="/user/spouse">Spousal Information</a></li>
			    <li><a class="non-heading" href="/user/other">Other</a></li>
			    <li><a href="javascript:void(0)"></a></li>
			    <li><a href="javascript:void(0)"><strong>Accounts</strong></a></li>
			    <li><a class="non-heading" href="/networths/bank">Checking/Savings</a></li>
			    <li><a class="non-heading" href="/networths/retirement">Retirement Accounts</a></li>
			    <li><a class="non-heading" href="/networths/equities">Stocks & Bonds</a></li>
			    <li><a class="non-heading" href="/networths/physical_assets">Real Estate/Auto</a></li>
			    <li><a class="non-heading" href="/networths/other_assets">Other Assets</a></li>
			    <li><a class="non-heading" href="/networths/physical_liabilities">Real Estate/Auto Loans</a></li>
			    <li><a class="non-heading" href="/networths/installment_debt">Credit Card/Student Loans/Consumer Loans</a></li>
			    <li><a class="non-heading" href="/networths/other_liabilities">Other Liabilities</a></li>
			  </ul>
			</nav>
			<div class="js-menu-screen sliding-panel-fade-screen"></div>
		<% end %>
	</div>
</div>
<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/1458871102_graph_up_arrow.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Track Your Net Worth</h2>
      <p>Using Trusted Financial Planning's profile builder, we'll ask you simple, easy-to-understand questions which will build your net worth chart automatically.</p>
      </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/1458871205_calendar.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Get a Financial Plan</h2>
      <p>We'll create a plan that makes sense for you.  We'll lay out a step-by-step checklist of what you should do with your savings to make sure you're best prepared for what's next, whether that's retirement, financial freedom, or just having more money in the bank!</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/1458871319_camping-nature-16.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Track Your Progress</h2>
      <p>As you progress through your personalized financial plan, you'll be able to see where you've been and look ahead to where you're going!</p>
    </div>
  </li>
</ul>
