<div class="hero">
	<div class="hero-inner">
    <!-- <a href="" class="hero-logo"><img src="https://s3-us-west-2.amazonaws.com/startup-app/1458872097_Bank.png" alt="Logo Image"></a> -->
		<div class="hero-copy">
			<h1>Trusted Financial Planning</h1>
			<p>It shouldn't have to be expensive to get top financial planning advice.<br />
        Trusted Financial Planning is an online solution to provide financial
        planning advice and tracking tools to understand where you stand and what
        path to take next!</p>
		</div>
    <a href="<%= user_path :signup %>" class="wizard-begin-button">Get Started For Free Today</a>
	</div>
</div>
<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/1458871102_graph_up_arrow.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Track Your Net Worth</h2>
      <p>Using Trusted Financial Planning's profile builder, we'll ask you simple, easy-to-understand questions which will build your net worth chart automatically.</p>
      </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/1458871205_calendar.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Get a Financial Plan</h2>
      <p>We'll create a plan that makes sense for you.  We'll lay out a step-by-step checklist of what you should do with your savings to make sure you're best prepared for what's next, whether that's retirement, financial freedom, or just having more money in the bank!</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/1458871319_camping-nature-16.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Track Your Progress</h2>
      <p>As you progress through your personalized financial plan, you'll be able to see where you've been and look ahead to where you're going!</p>
    </div>
  </li>
</ul>
