// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.net-worth-chart {
  border: 1px solid blue;
  display: block;
}

.networth-in-numbers {
  display: block;
  text-align: center;
}

.list-networth {
  display: inline-block;
  padding-right: 8%;
  padding-left: 8%;
}

.green {
  color: green;
}

.red {
  color: red;
}
