body {
  margin: 0;
}

.container {
  @include outer-container(960px);
}

.question-block {
  display: inline-block;
  min-width: 500px;
}

.question-text {
  float: none;
  font-size: 2em;
  color: #BCBCBC;
}

.input-label {
  font-family: $font-stack-helvetica;
  line-height: 42px;
  clear: both;
  display: block;
  padding-right: 40px;
  margin-bottom: 0;
}

.input-response {
  display:block;
  overflow: hidden;
}

.navigation-buttons {
  height: 36px;
}

.continue-button {
  float: right;
  height: 100%;
}

.back-button {
  float: left;
  height: 100%;
  a {
    color: white;
  }
}

.dob {
  select {
    display: inline-block;
    margin-bottom: 0;
  }
}

.form-block {
  display: block;
}

.fyi-info {
  font-style: italic;
  font-weight: 300;
}

.wizard-begin-button {
  background-color: #ff8000;
}

.center {
  text-align: center;
}
