body {
  margin: 0;
}

.container {
  @include outer-container(960px);
}

.question-block {
  display: inline-block;
  min-width: 500px;
}

.question-text {
  float: none;
  font-size: 2em;
  color: #BCBCBC;
}

.input-label {
  line-height: 42px;
  clear: both;
  display: block;
  padding-right: 40px;
  margin-bottom: 0;
}

.input-response {
  display:block;
  overflow: hidden;
}

.navigation-buttons {
  height: 36px;
}

.continue-button {
  float: right;
  height: 100%;
}

.back-button {
  float: left;
  height: 100%;
  a {
    color: white;
  }
}

.dob {
  select {
    display: inline-block;
    margin-bottom: 0;
  }
}

.form-block {
  display: block;
}

.fyi-info {
  font-style: italic;
  font-weight: 300;
}

.wizard-begin-button {
  background-color: #ff8000;
  appearance: none;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

.center {
  text-align: center;
}

.sliding-panel-content {
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $sliding-panel-border-color: $dark-gray;
  $sliding-panel-background: lighten($sliding-panel-border-color, 5%);
  $sliding-panel-color: #fff;
  $sliding-panel-border: 1px solid $sliding-panel-border-color;
  $sliding-panel-background-hover: $action-color;
  $sliding-panel-color-hover: #fff;
  $sliding-panel-background-focus: lighten($sliding-panel-background, 5%);

  @include position(fixed, 0px auto 0px 0px);
  @include size(220px 100%);
  @include transform(translateX(-220px));
  @include transition(all 0.25s linear);
  background: $sliding-panel-background;
  z-index: 999999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  li a {
    color: $sliding-panel-color;
    display: block;
    padding: 1em;
    text-decoration: none;

    &:focus {
      background-color: $sliding-panel-background-focus;
    }

    &:hover {
      background-color: $sliding-panel-background-hover;
      color: $sliding-panel-color-hover;
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }
}

.sliding-panel-fade-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

.sliding-panel-button {
  padding: 10px 16px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  outline: none;
  background-color: #ff8000;
  margin: 30px auto;

  img {
    height: 1.3em;
  }
}
